*.pyc
*.out
data/*
output/*
inference/*
scripts/build*
scripts/dist*
graveyard.py
scripts/config.json
scripts/first_nohup.txt
scripts/nohup.out
scripts/skipped_images.txt
scripts/crop_traintest.out
scripts/UnetMit_ep100.out
scripts/transfer_traintest.py
scripts/run_segmodel.py
scripts/run_segmodel.spec
.vscode/settings.json
scripts/manhattan_plotting.R
